<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome To The Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
   <label>STORE NUMBER</label>
    <ion-item>
     <ion-input  placeholder="Enter store number" type="number"  required></ion-input>
    </ion-item>
    <label>MOBILE NUMBER</label>
    <ion-item>
      <ion-input placeholder="Enter your registered mobile number" type="number" required></ion-input>
    </ion-item><br><label>STORE SECRET</label>
    <ion-item>
      <ion-input placeholder="Enter your store secret" type="text" required></ion-input>
    </ion-item><br>

     <ion-button  color="light" (click)="login()"> Login</ion-button>
     <br>
     
     
    
 
  </form>
 </ion-content>
 

